<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Cardio Guide</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <h2>CARDIO GUIDE</h2>
    </div> <!-- Closing the header div -->

    <div class="container">
        <div class="card" onclick="location.href='{{ url_for('predict_form') }}';">

            <img src="{{ url_for('static', filename='heart.png') }}" alt="Heart Icon">
            <p>Cardio Checker</p>
        </div>

        <div class="card" onclick="location.href='{{ url_for('health_tips') }}';">

            <img src="{{ url_for('static', filename='fitness.png') }}" alt="Fitness Icon">
            <p>Tips for a Healthy Life</p>
        </div>
    </div>
</body>
</html>
